/*
* Photo Gallery — Practice
* CSS Styles
*
* Start typing your code under these comments
*/
.jumbotron {
    background-image: url(../img/taican.jpg);
    background-size:cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 350px;
    text-align: left;
    clear:both;
    }
    .jumbotron .button {
        display: inline-block;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
        font-size: 35px;
        margin-top: 40px;
        padding: 20px 30px;
        border-radius: 30px;
        }
        .jumbotron .button:hover {
          color:red;
        }
                        
    @media (max-width: 575px) {
        .services .service {
        width: 100%;
        float: none;
        }
    }
    .brand {
        font-size: 30px;
        }
    .container {
        width: 90%;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        }         
        .menu {
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    .menu li a {
        text-decoration: none;
    }
    .menu li {
        float: left;
        font-size: 16px;
        list-style: none;
    }                            
    /* Header */
    header {
        background-color: rgb(247, 245, 245);
        padding-top: 30px;
        }
    h1 {
        font-size: 40px;
    color: #eee;
    }
    .h1:hover{
        color:red;
    }
header .menu li a {
    color: #aaa;
    }
    header .menu li a:hover{
        color:#282828;
    }
    header .menu {
        float: right;
        margin-bottom: 30px;
        }
        header .menu li {
        padding-left: 20px;
        }
        header .brand {
            float: left;
            color: #030303;
            margin-bottom: 30px;
            }
h3{
    font-size: 30px;
    text-align: center;
}


/* Blog */
.blog {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fcfcfc;
    }
    .blog h2 {
        text-align: center;
        }
        .blog .post {
            padding-top: 30px;
            display: inline-block;
            clear: both;
            }
.blog .post img {
    float: left;
    margin-right: 30px;
    }
            .blog h2 {
                text-align: center;
                }

/* Footer */
footer {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #38404b;
    }
footer .copyright {
    font-size: 12px;
    color: #eee;
}
footer p{
    font-size:15px;
    color: #eee;
}


